@media screen and (max-width: 992px) {
    #box-wrapper {
        justify-content: center;
        background: #00aeef;
        width: 100%;
        margin: 0px auto;
        padding: 75px 20px;
        border-radius: 5px;
        margin-top: 60px;
        font-size: 2em;
        box-sizing: border-box;
    }

    #box-wrapper h1 {
        font-size: 2.5em;
    }

    #box-link {
        margin-top: 35px; 
        margin-bottom: 35px;
        text-decoration: underline;
    }
    
    #box-link a {
        color: #000000;
    }

    #box-link a:visited {
        color: #000000;
    }    

    .input-group {
        display: flex;
        margin-bottom: 14px;
        font-size: 1.25em;
    }

    .input-group input {
        font-size: 1em;
    }

    #submit {
        color: #f37523;
        background: #ffffff;
        font-weight: 550;
        font-size: 1.5em;
        padding: 10px 50px;
        border: 1px solid #f37523;
        border-radius: 10px;
    }
}

@media screen and (min-width: 992px) {
    #box-wrapper {
        justify-content: center;
        background: #00aeef;
        width: 400px;
        margin: 0px auto;
        padding: 30px 5px;
        border-radius: 5px;
        margin-top: 40px;
    }

    #box-wrapper h1 {
        font-size: 2.75em;
    }

    #box-link {
        margin-top: 17px; 
        margin-bottom: 10px;
        text-decoration: underline;
    }

    #box-link a {
        color: #000000;
    }

    #box-link a:visited {
        color: #000000;
    }    

    .input-group {
        display: flex;
        margin-bottom: 6px;
    }

    #submit {
        color: #f37523;
        background: #ffffff;
        font-weight: 550;
        font-size: 1.25em;
        padding: 5px 20px;
        border: 1px solid #f37523;
        border-radius: 10px;
    }
}

#box-container {
    display: flex; 
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("../img/pattern-1.jpg");
    background-repeat: repeat;
    background-position: left top;
    padding: 15px;
}

#box-container > div {
    text-align: center;
}

#box-container input {
    border: 1px solid #000000;
    background: #ffffff !important;
}

#box-container textarea {
    border: 1px solid #000000;
}

#box-container h1 {
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 15px;
}

.box-center {
    text-align: center;
}

.input-field {
    text-align: right; 
    width: 40%; 
    margin-right: 10px;
}

.input-value {
    width: 50%; 
    margin-left: 10px;
    display: flex;
}

.input-value textarea, .input-value input {
    -webkit-transition: width 1s;
    transition: width 1s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.input-value .validation {
    height: 100%;  
    display: flex; 
    align-items: center;
}

.input-value .validation .validation-show {
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.input-value .validation .validation-hide {
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    width: 0px; 
    height: 20px;
}

#failure-notif {
    color: #ff0000;
    display: none;
}

#submit:hover {
    color: #ffffff;
    background: #f37523;
    border: 1px solid #ffffff;
    cursor: pointer;
}

textarea {
    resize: none;
    overflow: auto;
}

.hidden {
    display: none;
}
