body {
    margin: 0px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#main h1 {
    color: #ffffff;
    font-size: 4em;
    margin-top: 100px;
    text-align: center;
}

#main h2 {
    color: #f26600;
    /*font-size: 2.4em;*/
    margin: 25px;
    margin-bottom: 10px;
}

#main h3 {
    color: #f26600;
    font-size: 4em;
    margin: 33px;
    margin-bottom: 0;
}

.center {
    position: relative;
    margin: 0px auto;
}

.center.small {
    width: 40%;
    min-width: 500px;
}

.center.medium {
    width: 60%; 
    min-width: 720px;
}

#input-word {
    width: 100%;
    border: 1.5px solid #898989;
    border-radius: 4px; 
    padding: 8px;
    font-size: 1.125em;
    box-sizing: border-box;
}

#input-word:focus {
    outline: none;
    border: 1.5px solid #f26600;
    border-radius: 4px; 
}

#input-word::placeholder {
    color: grey;
}

#box-input > #failure-notif {
    text-align: center;
    color: red;
}

#btn-enter {
    margin-top: 20px;
    float: right;
}

.btn-primary {
    color: #ffffff;
    background: #179E63;
    border: none;
    padding: 7px 30px;
    font-size: 1.15em;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #f26600;
}

.btn-primary:focus {
    outline: none;
}